$bg-light: #f3f4fa;
$bg-white: #fefeff;
$primary: #d64354;
$bg-faded-accent: #ffecee;
$secondary: #4d9cad;
$secondary-2: #104A5A;
$secondary-1: #CEA17B;
$bg-info: #819ce0;
$bg-warning: #ffc037;
$bg-form: #f4f2f7;
$bg-dark-text: #333;
$green: #0ea10b;
$shadow-primary: 0 0 8px 2px rgba(253, 49, 49, .32);
$shadow-dark: 0 0 8px 2px rgba(0, 0, 0, .32);