.font-light {
    font-family: 'Gilroy-Light', sans-serif !important;
}

.font-regular {
    font-family: 'Gilroy-Regular', sans-serif !important;
}

.font-medium {
    font-family: 'Gilroy-Regular', sans-serif !important;
}

.font-semibold {
    font-family: 'Gilroy-Regular', sans-serif !important;
}

.font-bold {
    font-family: 'Gilroy-Regular', sans-serif !important;
}
