<div class="d-none d-lg-block" style="height:5vh;"></div>

<div class="container gx-1 gx-lg-0 mt-3 mt-lg-5 h-100 my-auto px-3 px-lg-0">
    <div class="row mt-2 justify-content-center h-100 my-auto">
        <div class="col-lg-8">
            <div class="row justify-content-center ">

                <div class="col-12 col-lg-5 col-xl-6  text-center position-relative">

                    <h3>Manage E-Standing Instruction (E-SI)</h3>
                    <p> Manage your scheduled funds transfer / payment. </p>
                </div>

                <!-- 1st page -->
                <div id="firstPage" class="col-12 col-lg-10 px-lg-0 px-4">
                    <div class="row mb-3">
                        <div class="dropdown">

                            <button class="col-12 btn bg-white border border-1 dropdown-toggle text-start"
                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Select Filters
                            </button>

                            <div class="dropdown-menu">
                                <form class="px-4 py-3">
                                    <span><b>Status</b></span>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="status-all" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="status-pending" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Pending
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="status-completed" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Completed
                                        </label>
                                    </div>
                                    <div class="dropdown-divider"></div>

                                    <span><b>Transaction Type</b></span>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox" value="tt-all"
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="tt-fundTrans" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Fund Transfer
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="tt-cardPay" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Card Payment
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="tt-loanPay" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Loan/Financing Payment
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="tt-billPay" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            Bill Payment
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox"
                                               value="tt-jomPay" id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            JomPay
                                        </label>
                                    </div>
                                    <div class="dropdown-divider"></div>

                                    <span><b>From Account</b></span>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox" value="fa-all"
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filterOption" type="checkbox" value="fa-all"
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="">
                                            All available from account
                                        </label>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">

                            <table id="ESIdata"
                                   class="mr-2 table table-borderless table-hover p-lg-2 p-0 shadow-sm rounded-8 bg-white table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl"
                                   style="width:100%">
                                <thead class="bg-dark text-white rounded-8">
                                    <tr style="text-align:center">
                                        <th class="small">Ref No.</th>
                                        <th class="small">Transaction Type</th>
                                        <th class="small">From Account</th>
                                        <th class="small">Recipient</th>
                                        <th class="small">Amount (RM)</th>
                                        <th class="small">Effective Since</th>
                                        <th class="small">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000010285</td>
                                        <td class="title-1">Funds Transfer To Own Account</td>
                                        <td class="title-1">43122322</td>
                                        <td class="title-1">JOHN (38275684)</td>
                                        <td class="title-1">66.66</td>
                                        <td class="title-1">24 Oct 2021</td>
                                        <td class="title-1">Pending</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012345</td>
                                        <td class="title-1">Funds Transfer To Favourite PBB Account</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">JACK (48750392)</td>
                                        <td class="title-1">24.42</td>
                                        <td class="title-1">24 Jun 2021</td>
                                        <td class="text-success">Completed</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012245</td>
                                        <td class="title-1">Card Payment To Own Accounts</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">JAY GOH (84930294)</td>
                                        <td class="title-1">28.92</td>
                                        <td class="title-1">24 Aug 2021</td>
                                        <td class="text-success">Completed</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012345</td>
                                        <td class="title-1">Own Loan/Financing Payment</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">NAJIB RAZAK ABDUL (58674069)</td>
                                        <td class="title-1">2.60</td>
                                        <td class="title-1">24 Jul 2021</td>
                                        <td class="text-success">Pending</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012345</td>
                                        <td class="title-1">Bill Payment To Favourite Bill</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">MUSTAFA AHMAD ZAINI (67594038)</td>
                                        <td class="title-1">24.42</td>
                                        <td class="title-1">24 Jun 2021</td>
                                        <td class="text-success">Completed</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012345</td>
                                        <td class="title-1">Bill Payment To Favourite JomPAY</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">MUSTAFA AHMAD ZAINI (674593039)</td>
                                        <td class="title-1">24.42</td>
                                        <td class="title-1">24 Jun 2021</td>
                                        <td class="text-success">Completed</td>
                                    </tr>
                                    <tr class="clickable-row" style="text-align:center">
                                        <td class="title-1">S1000012345</td>
                                        <td class="title-1">Bill Payment To Favourite JomPAY</td>
                                        <td class="title-1">3002112</td>
                                        <td class="title-1">MUSTAFA AHMAD ZAINI (20498372)</td>
                                        <td class="title-1">24.42</td>
                                        <td class="title-1">24 Jun 2021</td>
                                        <td class="text-success">Completed</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class="row my-5 last-row">
                        </div>
                    </div>
                </div>

                <!-- 2nd page -->
                <div hidden id="secondPage" class="col-12 col-lg-10 px-lg-0 px-4">
                    <div class="p-5 shadow bg-white rounded-8">
                        <div class="row detailsRow">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Reference No.</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Transaction Type</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>From Account</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Recipient Name</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>To Account / DuitNow ID</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Amount</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Effective Since</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel"></label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Frequency</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel">Weekly</label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Occurence(s)</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel">20</label>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftReference">
                                <label>Completion Date</label>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rightReference">
                                <label class="detailLabel">20 Dec 2022</label>
                            </div>

                        </div>

                    </div>


                    <div class="row justify-content-center mt-4">

                        <div class="col-12">

                            <table id="esiTable"
                                   class="table table-borderless table-hover p-lg-2 p-0 shadow-sm rounded-8 bg-white"
                                   style="width:100%">
                                <thead class="bg-dark text-white rounded-8">
                                    <tr style="text-align:center">
                                        <th class="small">No.</th>
                                        <th class="small">Schedule Date</th>
                                        <th class="small">Status/Remark</th>
                                        <th class="small">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="select-all">
                                            <label class="form-check-label" for="select-alllbl">Select All
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:center">
                                        <td class="title-1">1</td>
                                        <td class="title-1">07 May 2021</td>
                                        <td class="text-danger">Pending</td>
                                        <td class="text-danger">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="checkbox-1">
                                            <label class="form-check-label" for="checkbox-1lbl">
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td class="title-1">2</td>
                                        <td class="title-1">01 Jul 2021</td>
                                        <td class="text-danger">Pending</td>
                                        <td class="text-danger">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="checkbox-2">
                                            <label class="form-check-label" for="checkbox-2lbl">
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td class="title-1">3</td>
                                        <td class="title-1">24 Aug 2021</td>
                                        <td class="text-danger">Pending</td>
                                        <td class="text-danger">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="checkbox-3">
                                            <label class="form-check-label" for="checkbox-3lbl">
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td class="title-1">4</td>
                                        <td class="title-1">06 Dec 2021</td>
                                        <td class="text-danger">Pending</td>
                                        <td class="text-danger">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="checkbox-4">
                                            <label class="form-check-label" for="checkbox-4lbl">
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td class="title-1">5</td>
                                        <td class="title-1">06 Dec 2021</td>
                                        <td class="text-danger">Pending</td>
                                        <td class="text-danger">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="checkbox-5">
                                            <label class="form-check-label" for="checkbox-5lbl">
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td class="title-1">6</td>
                                        <td class="title-1">
                                            <u id="receiptPrompt" style="cursor: pointer;">
                                                06 Jan
                                                2021
                                            </u>
                                        </td>
                                        <td class="text-success">Successful</td>
                                        <td class="text-danger">
   
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="row my-5 last-row">
                                <div class="col-12">

                                    <a class="btn btn-dark float-start" href="@Url.Action("lifestyleSettings", "Home" )">
                                            Back
                                        </a>
                                    <!-- <a id="btnMoreDtl" class="btn btn-primary ms-2 float-end"> More Details </a> -->
                                    <a id="btnDel" value="delete" class="btn btn-danger float-end disabled">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-12 col-lg-4 last-row p-4 mt-4 p-sm-2 text-center pictureRow">
            <img src="~/Images/WebsiteImages/register-win-pbe-login02.jpg" class="img-fluid ads-form" />
        </div>

    </div>

</div>

<!-- Transaction Receipt Modal -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered mt-5 pt-4 p-3 p-sm-auto" style="max-width: 600px;">
        <div class="modal-content modal-content-bg-none">

            <div class="modal-body bg-transparent p-0">

                <div class="col-12 pb-2 px-3 bg-white rounded-8 shadow-sm ">

                    <div class="row">

                        <div class="col-12 text-center">

                            <div class="successIcon text-start pt-3">
                                <svg class="checkmark mx-auto mb-4" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                            </div>

                        </div>

                        <div class="col-12 text-center pb-3">
                            <h3>RM 10.00</h3>
                        </div>

                    </div>

                    <div class="row dashed_line px-1">
                        <hr>
                    </div>

                    <div class="row border-bottom px-1">

                        <div class="receipt-body my-3">

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Reference No.
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">58321</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Recipient Bank
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">Maybank Berhad</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Recipient Account
                                        No.
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">48930984</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Recipient
                                        Name
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">ALL CAN ONE SDN BHD</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Account Type
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">Savings / Current Account</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Amount (RM)
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">10.00</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Recipient Reference
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">Travel</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Transfer Date
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">6 Jan 2021</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Recurring Transaction
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">Weekly</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        From Account
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">47000039236 (Savings)</label>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start leftReference">
                                    <label for="paymentType">
                                        Date / Time
                                    </label>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start text-sm-end rightReference">
                                    <label for="message-text">6 Jan 2021 / 12:59:12pm</label>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row my-4 last-row">
                        <div class="col-12">
                            <a class="btn btn-outline-danger float-start col-4 col-md-3 col-lg-4 col-xxl-3"
                               style="min-width: 0;"> Print </a>
                            <a id="thirdNext"
                               class="btn btn-outline-danger col-7 col-md-5 col-lg-7 col-xxl-5 float-end float-md-none float-lg-end float-xxl-none ms-md-2 ms-lg-0 ms-xxl-2">
                                <span><i class="far fa-heart"></i></span>
                                <span class="ms-2">Set as Favourite</span>
                            </a>
                            <a id="fourthNext" data-bs-dismiss="modal" aria-label="Close"
                               class="btn btn-primary mt-2 mt-md-0 mt-lg-2 mt-xxl-0 float-none float-md-end float-lg-none float-xxl-end col-12 col-md-3 col-lg-12 col-xxl-3">
                                Done
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/js")
<script>
    $('.clickable-row').click(function () {
        var children = $(this).children();
        $('#secondPage').prop('hidden', false);
        $('#firstPage').prop('hidden', true);

        $('.detailLabel').eq(0).html(children.eq(0).html());
        $('.detailLabel').eq(1).html(children.eq(1).html());
        $('.detailLabel').eq(2).html(children.eq(2).html());
        $('.detailLabel').eq(3).html(children.eq(3).html().split(' (')[0]);
        $('.detailLabel').eq(4).html(children.eq(3).html().split('(')[1].replace(')', ''));
        $('.detailLabel').eq(5).html("RM " + children.eq(4).html());
        $('.detailLabel').eq(6).html(children.eq(5).html());
    });

    var receiptModal = new bootstrap.Modal(document.getElementById('exampleModalToggle2'));

    $('#receiptPrompt').click(function () {
        receiptModal.show();
    });

    $('input[id^="checkbox-"]').click(function () {
        if ($('input[id^="checkbox-"]').is(":checked")) {
            $('#btnDel').removeClass("disabled");
        } else {
            $('#btnDel').addClass("disabled");
        }
    });

    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
            $('#btnDel').removeClass("disabled");
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
            $('#btnDel').addClass("disabled");
        }
    });
    var table;
    $(document).ready(function () {
        table = $('#ESIdata').DataTable();
    });

    $('#ESIdata').DataTable({
        paging: false,
        ordering: false
    });
    $('#ESIdata_filter').hide();

    // $('#statusEsi').change(function () {
    //     table.search($(this).val()).draw();
    // });

    var selectedOptions = [];
    var tempTable;

    $('.filterOption').change(function () {
        selectedOptions = [];
        $('.filterOption:checkbox:checked').each(function () {
            // console.log($(this).val());
            selectedOptions.push($(this).val());
        });
        filterTableByStatus();
        filterTableByTT();
        filterTableByFA();

        // console.log($('.filterOptions:checkbox:checked'));
    });

    function filterTableByStatus() {
        var regex = [];
        // table.search(value).draw();
        selectedOptions.forEach(function (element, index) {
            switch (element) {
                case "status-all":
                    regex.push(".*");
                    break;
                case "status-pending":
                    regex.push("Pending");
                    break;
                case "status-completed":
                    regex.push("Completed");
                    break;
            }
        });
        var regexStr = regex.join("|");

        tempTable = table.column("6").search(regexStr, true);
        tempTable.draw();
    }

    function filterTableByTT() {
        var regex = [];
        // table.search(value).draw();
        selectedOptions.forEach(function (element, index) {
            switch (element) {
                case "tt-all":
                    regex.push(".*");
                    break;
                case "tt-fundTrans":
                    regex.push("Funds.Transfer.To.Own.Account");
                    regex.push("Funds.Transfer.To.Favourite.PBB.Account");
                    regex.push("DuitNow.To.Favourite.Account");
                    regex.push("DuitNow.Transfer.To.Favourite.Account");
                    regex.push("Interbank.GIRO.(IBG).To.Favourite.Account");
                    break;
                case "tt-cardPay":
                    regex.push("Card.Payment.To.Own.Accounts");
                    regex.push("Card.Payment.To.Favourite.Accounts");
                    break;
                case "tt-loanPay":
                    regex.push("Own.Loan/Financing.Payment");
                    regex.push("Other.Favourite.Loan/Financing.Account.Payment");
                    break;
                case "tt-billPay":
                    regex.push("Bill.Payment.To.Favourite.Bill");
                    break;
                case "tt-jomPay":
                    regex.push("Bill.Payment.To.Favourite.JomPAY");
                    break;
            }
        });
        var regexStr = regex.join("|");

        console.log(regexStr);
        tempTable.column("1").search(regexStr, true).draw();
    }

    function filterTableByFA() {
        var regex = [];
        // table.search(value).draw();
        selectedOptions.forEach(function (element, index) {
            switch (element) {
                case "fa-all":
                    regex.push(".*");
                    break;
            }
        });
        var regexStr = regex.join("|");

        tempTable = table.column("2").search(regexStr, true);
        tempTable.draw();
    }

    $('#btnDel').on('click', function () {
        table.clear().rows.add($(this).val()).draw();
        $('#esiTable tbody').children().each(function () {
            if ($(this).find('input[id^="checkbox-"]').prop('checked')) {
                $(this).remove();
                reArrangeRows();
            }
        });
        $(this).addClass('disabled');
    });

    function reArrangeRows() {
        var counter = 1;
        $('#esiTable tbody').children().each(function () {
            $(this).children(":first").html(counter);
            counter++;
        });
    }

    var progressBar = $('.progress-bar');
    var progressNumber = 0;

    setInterval(function () {
        progressNumber++;
        progressBar.css('width', progressNumber + '%');
        progressBar.attr('aria-valuenow', progressNumber);
    }, 500);
</script>
