<div class="container-fluid gx-0 gx-lg-0 mt-0 mt-lg-5 p-lg-5 p-4 ">
    <div class="row  pb-2 pb-lg-4 border-bottom">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-8 col-10  d-lg-none d-block something">
                    <p class="h3">Welcome, Puvanan</p>
                    <h1 class="mt-2 mt-lg-1 balance text-success h3 mb-0">RM 2,589.00</h1>
                    <p class="mb-lg-0 text-muted small">Available Balance</p>
                    <p class="d-none d-lg-block w-75">This balance summed up with all of your deposit accounts in Public Bank</p>
                </div>
                <div class="col-2 d-lg-none d-block">
                    @*<img class="img-fluid img-Quick mx-auto" src="~/Icons/All/outline/setting-2.svg" />*@
                    <i class="ri-settings-5-line ri-xl text-primary" style="line-height:1.5"></i>
                </div>

            </div>
            <div class="row mt-lg-3">
                <div class="col-12">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-xl-5 col-lg-10 ps-3 mb-0 mb-lg-5">
                            <div class="d-lg-block d-none">
                                <p class="h3">Welcome, Puvanan</p>
                                <h1 class="mt-2 mt-lg-1 balance text-success h3 mb-0">RM 2,589.00</h1>
                                <p class="mb-lg-0 text-muted small">Available Balance</p>
                                <p class="d-none d-lg-block w-75">This balance summed up with all of your deposit accounts in Public Bank</p>
                            </div>


                        </div>
                        <div class="col-12 col-xl-7 col-lg-10">
                            <div class="row mt-3 mt-lg-0 mt-xl-5 justify-content-center">
                                <div class="col-3 pb-3">
                                    <a href="@Url.Action("Transfer", "Home")">
                                        <div class="rounded-8 card-quick py-0 py-lg-3">
                                            <div class="text-center text-lg-end py-2 px-lg-3">                                               
                                                <i class="img-fluid img-Quick mx-auto icons bi-arrow-left-right h2 text-primary text-white-lg"></i>
                                            </div>
                                            <div class="text-center text-lg-start px-lg-3 px-0">
                                                <p class="small mb-0 pt-2 pt-lg-3 d-lg-none d-block text-primary text-white-lg">Transfer</p>
                                                <h5 class=" mb-0 pt-2 pt-lg-4 d-none d-lg-block text-white">Transfer</h5>
                                                <p class="mb-0 d-none d-lg-block small pt-2 text-white-75">Transfer to other banks, duitnow and more</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 pb-3">
                                    <div class="rounded-8 card-quick py-0 py-lg-3">
                                        <div class="text-center text-lg-end py-2 px-lg-3">
                                            <i class="img-fluid img-Quick mx-auto icons bi-cart2 h2 text-primary text-white-lg"></i>
                                        </div>
                                        <div class="text-center text-lg-start px-lg-3 px-0">
                                            <p class="small mb-0 pt-2 pt-lg-3 d-lg-none d-block text-primary text-white-lg">Payment</p>
                                            <h5 class=" mb-0 pt-2 pt-lg-4 d-none d-lg-block text-white">Payment</h5>
                                            <p class="mb-0 d-none d-lg-block small pt-2 text-white-75">Credit card bills and many more</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 pb-3">
                                    <a href="@Url.Action("AccountSummary", "Home")">
                                        <div class="rounded-8 card-quick py-0 py-lg-3">
                                            <div class="text-center text-lg-end py-2 px-lg-3">
                                                <i class="img-fluid img-Quick mx-auto icons bi-card-heading h2 text-primary text-white-lg"></i>
                                            </div>
                                            <div class="text-center text-lg-start px-lg-3 px-0">
                                                <p class="small mb-0 pt-2 pt-lg-3 d-lg-none d-block text-primary text-white-lg">Account</p>
                                                <h5 class=" mb-0 pt-2 pt-lg-4 d-none d-lg-block text-white">Accounts</h5>
                                                <p class="mb-0 d-none d-lg-block small pt-2 text-white-75">View your Account Summary</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 pb-3">
                                    <div class="rounded-8 card-quick py-0 py-lg-3">
                                        <div class="text-center text-lg-end py-2 px-lg-3">
                                            <i class="img-fluid img-Quick mx-auto icons bi-bar-chart-line h2 text-primary text-white-lg"></i>
                                        </div>
                                        <div class="text-center text-lg-start px-lg-3 px-0">
                                            <p class="small mb-0 pt-2 pt-lg-3 d-lg-none d-block text-primary text-white-lg">Investment</p>
                                            <h5 class=" mb-0 pt-2 pt-lg-4 d-none d-lg-block text-white">Investment</h5>
                                            <p class="mb-0 d-none d-lg-block small pt-2 text-white-75">View your credit card informations</p>
                                        </div>
                                    </div>
                                </div>
                                <div hidden class="col-3 pb-3">
                                    <div class="rounded-8 card-quick text-center py-lg-4 py-0">
                                        <img class="img-fluid img-Quick mx-auto icons" src="" />
                                        <p class="small mb-0 pt-2">Apply</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class=" d-none position-relative">
        <div class="custom-shape-divider-bottom-1628677093">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="row justify-content-center mt-4 pe-lg-0 pe-0  pt-lg-4">
        <div class="col-12 col-xl-7 col-lg-10 py-2 py-lg-2 border-bottom-sm">
            <div class="row">
                <div class="col-8">
                    <h5> Your Accounts</h5>
                    <p class="d-none d-lg-block">Click on the account that you want to more on</p>
                </div>
            </div>
            <div class="row mt-4 mt-lg-0">
                <div class="col-12 col-xl-6 mt-3">
                    <div class="rounded-8 shadow-sm p-1 bg-white accounts">
                        <a href="#">

                            <div class="row h-100 px-3">
                                <div class="col-2 my-auto px-2 bg-light-2 rounded-8 text-center" style="max-width:50px;padding:12px;">
                                    <i class="fas fa-id-card text-primary"></i>
                                </div>
                                <div class="col-7 my-auto">
                                    <h6 class="">Savings/Current Account</h6>
                                </div>
                                <div class="col-3 my-auto">
                                    <h6 class="small mb-0 pt-3 text-end"></h6>
                                    <p class="smaller text-end pb-3"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3">
                    <div class="rounded-8 shadow-sm p-1 bg-white accounts">
                        <a href="#">

                            <div class="row h-100 px-3">
                                <div class="col-2 my-auto px-2 bg-light-2 rounded-8  text-center" style="max-width:50px;padding:12px;">
                                    <i class="fas fa-coins text-primary"></i>

                                </div>
                                <div class="col-6 my-auto ">
                                    <h6 class="">Fixed Deposit Account</h6>
                                    @*<p class="smaller text-muted">1234 5677 4512 4566</p>*@
                                </div>
                                <div class="col-4 my-auto">
                                    <h6 class="small mb-0 pt-3 text-end"></h6>
                                    <p class="smaller text-end pb-3"></p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3">
                    <div class="rounded-8 shadow-sm p-1 bg-white accounts">
                        <a href="#">

                            <div class="row h-100 px-3">
                                <div class="col-2 my-auto px-2 bg-light-2 rounded-8  text-center" style="max-width:50px;padding:12px;">
                                    <i class="fas fa-credit-card text-primary"></i>

                                </div>
                                <div class="col-6 my-auto ">
                                    <h6>Credit Card</h6>
                                    @*<p class="smaller text-muted">1234 5677 4512 4566</p>*@
                                </div>
                                <div class="col-4 my-auto">
                                    <h6 class="small mb-0 pt-3 text-end"></h6>
                                    <p class="smaller text-end pb-3"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3 d-none d-lg-block">
                    <div class="rounded-8 shadow-sm p-1 bg-white accounts">
                        <a href="#">
                            <div class="row h-100 px-3">
                                <div class="col-2 my-auto px-2 bg-light-2 rounded-8  text-center" style="max-width:50px;padding:12px;">
                                    <i class="fas fa-chart-pie text-primary"></i>
                                </div>
                                <div class="col-6 my-auto ">
                                    <h6 class="">Loans/Financing</h6>
                                    @*<p class="smaller text-muted">1234 5677 4512 4566</p>*@
                                </div>
                                <div class="col-4 my-auto">
                                    <h6 class="small mb-0 pt-3 text-end"></h6>
                                    <p class="smaller text-end pb-3"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 pt-0">
                <div class="col-12 text-center">
                    <a class="text-decoration-underline text-dark  text-muted d-lg-none d-block pb-3"><h6>View All</h6></a>
                    <a href="@Url.Action("AccountSummary","Home")" class="btn btn-primary d-lg-inline-block d-none "> View All </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5 col-lg-10 mt-4 mt-lg-0 ps-xl-5 ps-2  pb-5 pb-lg-0">
            <div class="row">
                <div class="col-8">
                    <h5>Deals For You</h5>
                </div>
                <div class="col-4 text-end">
                    <a class="text-decoration-underline text-dark text-center text-muted"><p class="small text-end">View All</p></a>
                </div>
            </div>
            <div class="row pb-5" style="padding-top:2rem">
                <img src="~/Images/Advertisment/tempPromo.png" />
                <div hidden class="col-12">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <img src="~/Images/Advertisment/news.jpg" class="card-img" />
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6>Testing Something Shall Work</h6>
                                        </div>
                                        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus volutpat ante.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img src="~/Images/Advertisment/news1.jpg" class="card-img" />
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6>Testing Something Shall Work</h6>
                                        </div>
                                        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus volutpat ante.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img src="~/Images/Advertisment/news2.jpg" class="card-img" />
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6>Testing Something Shall Work</h6>
                                        </div>
                                        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus volutpat ante.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination pt-5 pb-lg-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 ">

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/js")*@
<script>
    $(document).ready(function () {
        $('.nav-link').each(function () {
            $(this).removeClass('active');
        });
        $('.homeMenu').addClass('active');
    });



</script>
